:root{
    --txt-1: #6e2828;
    --txt-2: #fff;
    --btn-color: #e3c607;
    --nav-maring: 20px;
    --nav-padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.5s;
    z-index: 9999;
    box-sizing: border-box;
}

.transparent {
    background-color: rgba(0, 0, 0, 0); /* More transparent */
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Less transparent */
}

.nav .other a {
    color: var(--txt-2);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav .other a:hover {
    color: var(--btn-color);
}

.logo img {
    height: 80px;
    width: 80px;
}

.btn-contakt {
    border: solid;
    border-color: var(--btn-color);
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
}

.btn-contakt:hover {
    color: #e6b800;
}

.content {
    height: 2000px; /* For demonstration purposes */
    background-color: #f0f0f0;
    padding: 20px;
}